.header-main-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #031926;
}